#about {
    background-color: #c0d8e0;
    padding: 20px 40px;
    overflow: auto;
}

#about h2 {
    margin-bottom: 20px;
}

#about p {
    text-align: left;
    text-indent: 20px;
    margin-bottom: 20px;
    max-width: 400px;
}

#about img {
    max-width: 40vw;
    margin-left: 5px;
    float: right;
    max-height: 30vh;
}
