#about {
    padding: 20px 30px;
    overflow: auto;
    max-width: 640px;
    margin: 0 auto;
}

#about h2 {
    margin-bottom: 20px;
}

#about p {
    text-align: left;
    text-indent: 20px;
    margin-bottom: 20px;
    max-width: 400px;
}

#about img {
    max-width: 40vw;
    margin-left: 5px;
    float: right;
    max-height: 30vh;
}
