#contact ul {
    list-style: none;
}

#contact ul li {
    margin-top: 10px;
}

#contact ul li a {
    text-decoration: none;
    color: #b2bfa8;
}

#contact ul li a:hover {
    color: #858f7e;
    text-decoration: underline;
}
