#projects {
    padding: 20px 10px;
}

#projects h2 {
    margin-bottom: 20px;
}

#projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

@media (min-width: 500px) {
    #projects-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
