.project-card {
    background-color: #487e80;
    color: #fefefe;
    text-align: center;
    border-radius: 20px;
    display: flex;
}

.screenshot {
    width: 50%;
    align-self: start;
}

.project-info {
    font-size: 14px;
    text-align: left;
    padding: 10px;
}

.project-info h3 {
    text-align: center;
    margin-bottom: 10px;
}

.learning-goals {
    list-style: none;
    background-color: #336364;
    color: #e2e2e2;
    text-align: right;
    padding: 15px 10px 5px 10px;
    border-radius: 10px;
    margin: 20px auto;
}

.learning-goals li {
    margin-bottom: 10px;
}
