#projects {
    background: linear-gradient(#c0d8e0, #d4eac8);
    padding: 20px 10px;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* overflow: scroll; */
}
