.project-card {
    background-color: #b2bfa8;
    color: black;
    text-align: center;
    display: flex;
    /* width of card is 100vw - 40px (padding) */
    /* width of screenshot is half that */
    /* height of screenshot is width * 1.74 */
    max-height: calc(((100vw - 20px) / 2) * 1.74);
}

.project-card div {
    font-size: 12px;
}

.screenshot {
    width: 50%;
    align-self: start;
}

.project-info {
    font-size: 14px;
    text-align: left;
    padding: 10px 0;
    overflow-y: scroll;
    position: relative;
}

.project-info h3 {
    text-align: center;
    font-size: 16px;
}

.project-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.project-links a {
    color: #911500;
    font-size: 14px;
}

.project-desc {
    padding: 0 10px;
}

.learning-goals-and-tech {
    background-color: #71786c;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.learning-goals-and-tech h4 {
    position: absolute;
    top: -10px;
    left: 10px;
    color: black;
    font-size: 14px;
}

.learning-goals {
    list-style: none;
    text-align: right;
    padding: 10px 10px 0 10px;
    font-size: 11px;
}

.learning-goals li {
    margin-bottom: 8px;
}

.project-tech {
    list-style: none;
    display: flex;
}

.project-tech li {
    margin-left: 5px;
}
