#skills h2 {
    margin-bottom: 20px;
}

#skills ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
