#skills {
    background: linear-gradient(#d4eac8, #c0d8e0);
}

#skills ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
